.footer{
    background-color: #e0dfde;
    height: 15vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.viewCode{
    color: #01578c;
}
.viewCode:hover{
    color: green;
}
.coptRig{
    color: #01578c;
    font-size: 15px;
}